.cartitems{
    margin: 70px 140px;
}
.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 10px 0px;
    color: #454545;
    font-size: 12px;
    font-weight: 600;
}
.cartitems-format{
    font-size: 12px;
    font-weight: 500;
}
.carticon-product-icon{
    height: 52px;
}
.cartitems-remove-icon{
    width: 10px;
    margin: 0px 20px;
}
.cartitems-quantity{
    width: 44px;
    height: 25px;
    border: 2px solid #ebebeb;
    background: #fff;
}
.cartitems-down{
    display: flex;
    margin: 70px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    gap: 20px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.cartitems-total button{
    width: 220px;
    height: 38px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartitems-promocode p{
    color: #555;
}
.cartitems-promobox{
    width: 355px;
    margin-top: 12px;
    padding-left: 10px;
    height: 38px;
    background: #eaeaea;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 12px;
    width: 210px;
    height: 25px;
}
.cartitems-promobox button{
    width: 140px;
    height: 38px;
    font-size: 12px;
    background: black;
    color: white;
    cursor: pointer;
}