.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 100px;
    line-height: 1;
}

.hero-left h2 {
    color: #090909;
    font-size: 26px;
    font-weight: 700;
}

.hero-left p {

    color: #171717;
    font-size: 80px;
    font-weight: 500;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 105px;
    height: 80px;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 280px;
    height: 50px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 300;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    height: 520px;
}

@media(max-width:1210px) {
    .hero-left {
        padding-left: 100px;
    }

    .hero-left h2 {
        font-size: 20px;
    }

    .hero-left p {
        font-size: 60px;
    }

    .hero-hand-icon img {
        width: 80px;
    }

    .hero-latest-btn {
        gap: 10px;
        width: 220px;
        height: 40px;
        margin-top: 20px;
        font-size:
            15px;
    }
}

@media(max-width:800px) {
    .hero-left {
        padding-left: 60px;
    }

    .hero-left h2 {
        font-size: 15px;
    }

    .hero-left p {
        font-size: 30px;
    }

    .hero-hand-icon img {
        width: 60px;
        height:50px;
    }

    .hero-latest-btn {
        width: 220px;
        height: 40px;
        font-size:12px;
    }
    
}
@media(max-width:500px){
    .hero{
        flex-direction: column;
    }
    .hero-right{
        display: none;
    }
    .hero-left h2{
        font-size: 18px;
    }
    .hero-left p{
        font-size: 40px;
    }
    .hero-latest-btn{
        width: 200px;
        height: 45px;
        font-size: 14px
    }
}
@media(max-width:320px){
    .hero{
        width: 100%;
        height: 60vh;
    }
    .hero-left h2{
        font-size: 13px;
    }
    .hero-left p{
        font-size: 25px;
    }
    .hero-hand-icon img{
        width: 35px;
        height: 30px;
    }
    .hero-latest-btn{
        width: 150px;
        height: 35px;
        font-size: 10px;
    }
}